:host {
  display: block;
  min-height: 100vh;

  background-color: var(--color-bg-page);
}

.app-shell {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;

  margin-inline: auto;

  background-color: var(--color-bg-surface);
}

.main-layout__content {
  width: 100%;
}